.leaflet-container{

    width: 50vw;
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    background-color: #F0F8FF;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }

  .country-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    width: 320px;
    padding: 20px;
    border: 1px solid #c9c9c9;
    color: black;
    display: inline-block;
    text-align:center;
}

img {
  height: 200px;
  width: 50%;
}

 

